html,
body {
  height: 100%;
  margin: 0 auto;
}

body {
  background-color: #f8dce7;
  color: #f8dce7;
  display: flex;
  font-family: "Inter", sans-serif;
  align-items: center;
  justify-content: center;
}

h1 {
  margin: 0 0 16px 0;
  text-align: center;
}

select {
  background-color: #352121;
  color: #af9298;
  border-radius: 4px;
  border: none;
  padding: 10px;
  display: block;
  margin: 16px auto;
  text-align: center;
  width: 250px;
  font-weight: bold;
  font-family: "Inter", sans-serif;
}

.container {
  background-color: #6d1548;
  border: 3px solid #5a3238;
  border-radius: 20px;
  box-shadow: 0px 10px 15px #af9298;
  padding: 20px;
}

.display-time {
  display: flex;
  justify-content: space-between;
  padding: 12px 0px;
}

.city {
  font-size: 20px;
  font-weight: 600;
  padding-bottom: 6px;
}

.country {
  font-size: 14px;
  font-weight: 500;
  color: #b89098;
}

.date {
  font-size: 14px;
  font-weight: 500;
}

.AM-PM {
  font-weight: 400;
  font-size: 20px;
  padding-left: 7px;
}

.time-element {
  display: flex;
  align-items: center;
  font-size: 30px;
  font-weight: 600;
}

.date {
  display: none;
}

.display-time.selected .date {
  display: block;
}

.display-time.selected {
  background-color: #f8dce7;
  border-radius: 6px;
  padding: 6px 4px;
  color: #8b1030;
}

a:link,
a:visited {
  color: #b89098;
  text-decoration: none;
}

footer {
  font-size: 13px;
  padding-top: 20px;
  text-align: center;
}
